<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>323098123619-ul6i03vhbqea3jghjbp29nookq9i3ao0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.323098123619-ul6i03vhbqea3jghjbp29nookq9i3ao0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>323098123619-3uje2damb46h37lj5eqa718v6jb4ilrp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAiqkwvc2RmCpVKmKWrrtxC03OqITyHiF8</string>
	<key>GCM_SENDER_ID</key>
	<string>323098123619</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ids.flyfoot</string>
	<key>PROJECT_ID</key>
	<string>fly-foot-940e3</string>
	<key>STORAGE_BUCKET</key>
	<string>fly-foot-940e3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:323098123619:ios:2a497b05825db5d1680756</string>
</dict>
</plist>